html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size:16px;
}
body{
    display: table;
    width:100%;
    font-family: SSP;
}

body>div{
    display: table-row;
}

body>div>border{
    position: fixed;
    height:100%;
}

body>div>border>div{
    margin-top: 100px;
    baground:red;
    height:100%;
}

body>div>border>div>div{
    background:blue;
    width:100%;
}

table{
    border-collapse: collapse;
}

td{
    box-sizing: border-box;
    border: 5px solid black;
}

body>footer{

    display: table-row;
    height: 30px;
    text-align: center;
    margin-top: 10px;
}

.row{
    max-width: 100%;
    margin: 0px;
}