<link rel="stylesheet" href="./css/accueil.css">
<link rel="stylesheet" href="./css/slideshowtempl.css">
<div class="hidden-xs col-sm-offset-1">
    <div ng-controller="SliderControllerMP">
        <slider images="images"/>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-offset-1">
            <p id="site_off">Site officiel de la Pharmacie des Vosges - Phalsbourg </p>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2">
            <div class="row">
                <h1><span class="underline">Horaires</span> :</h1>
                <div class="col-xs-12 col-sm-6">
                    <h2>Du Lundi au Vendredi :</h2> 
                    <p>8h30 à 12h</p> 
                    <p>14h à 19h</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h2>Le Samedi :</h2>
                    <a href="#SamediOuvert">(un samedi sur deux)</a>
                    <p>8h30 à 12h</p>
                    <p>14h à 17h</p>
                </div>
            </div>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2">
            <div class="row">
                <h1><span>Coordonnées</span> :</h1>
                <div class="col-xs-12 col-sm-4">
                    <h2>Adresse :</h2>
                    <p>2 place d'Armes</p>
                    <p>57370 Phalsbourg</p>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <h2>Téléphone :</h2>
                    <p>03.87.24.31.60</p>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <h2>Fax :</h2>
                    <p>03.87.24.34.39</p>
                </div>
            </div>
        </div>
        <logoPU class="col-xs-12">
                <h1>Groupement Pharmaceutique :</h1>
            <a href="http://www.pharm-upp.fr/" target="_blank">
                <img id="pharmupp" src="./images/logo-pharmupp.jpg" alt="logo Pharm-Upp">
            </a>
        </logoPU>
    </div>
</div>
