<link rel="stylesheet" href="./css/equipe.css">
<div class="row">
    <div class="col-xs-12 col-sm-offset-5 col-sm-7">
        <texte>
            <h2><span class="underline">Pharmacien Titulaire</span>&nbsp;:</h2>
            <p>Dr P. S<span class="ptemaj">CHWARZENBART</span></p>
            <h2><span class="underline">Pharmaciens Adjoints</span>&nbsp;:</h2>
            <p>Dr Anne W<span class="ptemaj">ILT</span></p>
            <p>Dr Caroline B<span class="ptemaj">ENOIT</span></p>
            <h2><span class="underline">Préparateurs</span>&nbsp;:</h2>
            <p>Mme Fabienne D<span class="ptemaj">ALIGUET</span></p>
            <p>M Marc H<span class="ptemaj">ILD</span></p>
            <p>Mme Chantal K<span class="ptemaj">LEINKLAUS</span></p>
            <p>Mme Fanny M<span class="ptemaj">OZIMANN</span></p>
            <p>Mme Carren P<span class="ptemaj">ASSALACQUA</span></p>
            <p>M Laurent S<span class="ptemaj">IFFERMANN</span></p>
            <p>Mme Myriam W<span class="ptemaj">ENGER</span></p>
        </texte>
    </div>
</div>