<link rel="stylesheet" href="./css/mapharmacie.css">
<div class="container-fluid">
    <div class="col-sm-offset-1">
    <div class="row">
        <h2>Nos principales Marques</h2>

        <div class="row">
            <h3>En Parapharmacie :</h3>
            <img class="col-xs-4" src="./images/logo_marque/logo_caudalie.jpg" alt="Caudalie" >
            <img class="col-xs-4" src="./images/logo_marque/logo_nuxe.jpg" alt="Nuxe">
            <img class="col-xs-4" src="./images/logo_marque/logo_rg.jpg" alt="Roger & Gallet">
        </div>
        <div class="row">
            <img class="col-xs-offset-1 col-xs-4" src="./images/logo_marque/logo_rochep.jpg" alt="la Roche-Posay">
            <img class="col-xs-offset-1 col-xs-4" src="./images/logo_marque/logo_vichy.jpg" alt="Vichy">
        </div>
        
        <div class="row">
            <h3>Au rayon bébé :</h3>
            <img class="col-xs-4" src="./images/logo_marque/logo_novalac.jpg" alt="Novalac">
            <img class="col-xs-4" src="./images/logo_marque/logo_mustela.jpg" alt="Mustela">
            <img class="col-xs-4" src="./images/logo_marque/logo_mam.jpg" alt="Mam">
            
        </div>
        <div class="row">    
            <img class="col-xs-offset-4 col-xs-4" src="./images/logo_marque/logo_avent.jpg" alt="Avent">
        </div>
        
        <div class="row">
            <h3>En Aromathérapie :</h3>
            <img class="col-xs-4" src="./images/logo_marque/logo_valnet.jpg" alt="Docteur Valnet">
            <img class="col-xs-4" src="./images/logo_marque/logo_phytosun.jpg" alt="Phytosun">
            <img class="col-xs-4" src="./images/logo_marque/logo_arkopharma.jpg" alt="Arkopharma">
        </div>
        
        <div class="row">
            <h3>En matériel médical :</h3>
            <img class="col-xs-4" src="./images/logo_marque/logo_thuasne.jpg" alt="Thuasne">
            <img class="col-xs-4" src="./images/logo_marque/logo_radiante.jpg" alt="Radiante">
            <img class="col-xs-4" src="./images/logo_marque/logo_hartmann.jpg" alt="Hartmann">
        </div>
    </div>
</div>
</div>

