<link rel="stylesheet" href="./css/mapharmacie.css"> 
<h2>Nos principales marques :</h2>
<div class="row">
    <img class="col-xs-4" src="./images/logo_marque/logo_caudalie.jpg" alt="Caudalie" >
    <img class="col-xs-4" src="./images/logo_marque/logo_nuxe.jpg" alt="Nuxe">
    <img class="col-xs-4" src="./images/logo_marque/logo_rg.jpg" alt="Roger & Gallet">
</div>
<div class="row">
    <img class="col-xs-4" src="./images/logo_marque/logo_radiante.jpg" alt="Radiante">
    <img class="col-xs-4" src="./images/logo_marque/logo_rochep.jpg" alt="la Roche-Posay">
    <img class="col-xs-4" src="./images/logo_marque/logo_vichy.jpg" alt="Vichy">
</div>
<div class="row">
    <img class="col-xs-4" src="./images/logo_marque/logo_novalac.jpg" alt="Novalac">
    <img class="col-xs-4" src="./images/logo_marque/logo_mustela.jpg" alt="Mustela">
    <img class="col-xs-4" src="./images/logo_marque/logo_confiance.jpg" alt="Confiance">
</div>
<div class="row">    
    <img class="col-xs-4" src="./images/logo_marque/logo_mam.jpg" alt="Mam">
    <img class="col-xs-4" src="./images/logo_marque/logo_dcvalinet.jpg" alt="Docteur Valnet">
    <img class="col-xs-4" src="./images/logo_marque/logo_phytosun.jpg" alt="Phytosun">
</div>

<div class="row">
    <img class="col-xs-4" src="./images/logo_marque/logo_thuasne.jpg" alt="Thuasne">
</div>


