<link rel="stylesheet" href="./css/materielmedical.css">
<link rel="stylesheet" href="./css/slideshowtempl.css">
<div class="container-fluid">
    <div class="row">
            <div class="col-sm-offset-3 col-sm-7">
                <p id="txt">Pour vous accompagner au mieux, la Pharmacie des Vosges a une large gamme de matériel médical pour vous aider au quotidien&nbsp;:</p>
            </div>
            <div class="hidden-xs col-sm-offset-3 col-sm-3">
                <p id="liste">
                    - lit médical<br />
                    - déambulateur<br />
                    - siège coquille<br />
                    - fauteuil roulant<br />
                    - soulève malade<br />
                    - béquille et canne<br />
                    - chaussures confort
                </p>
            </div>
            <div class="hidden-sm hidden-md hidden-lg col-xs-12">
                <p id="liste_xs">
                    - lit médical<br />
                    - déambulateur<br />
                    - siège coquille<br />
                    - fauteuil roulant<br />
                    - soulève malade<br />
                    - béquille et canne<br />
                    - chaussures confort
                </p>
            </div>
            <div class="col-sm-4">
                <div ng-controller="SliderControllerMM">
                    <slidermat images="images"/>
                </div>
            </div>
        </div>
    </div>
</div>