<link rel="stylesheet" href="./css/servicescompetences.css">
<div class="row">
    <div class="hidden-xs">
        <a href="#Accueil"><img id="logo" src="./images/logo01.png"></a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h2>Délivrance de médicaments</h2>
        <img class="col-xs-12 illustration" src="./images/services_competences/medicament.jpg">
    </div>
    <div class="col-xs-12 col-sm-6">
        <h2>Préparations pharmaceutiques</h2>
        <img class="col-xs-12 illustration" src="./images/services_competences/preparation.jpg">
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h2>Homéopathie</h2>
        <img class="col-xs-12 illustration" src="./images/services_competences/homeopathie.jpg">
    </div>
    <div class="col-xs-12 col-sm-6">
        <h2>Phytothérapie</h2>
        <img class="col-xs-12 illustration" src="./images/services_competences/phytotherapie.jpg">
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h2>Aromathérapie</h2>
        <img class="col-xs-12 illustration" src="./images/services_competences/aromatherapie.jpg">
    </div>
    <div class="col-xs-12 col-sm-6">
        <h2>Parapharmacie</h2>
        <img class="col-xs-12 illustration" src="./images/services_competences/parapharma.jpg">
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h2>Orthopédie</h2>
        <img class="col-xs-12 illustration" src="./images/services_competences/orthopedie.jpg">
    </div>
    <div class="col-xs-12 col-sm-6">
        <h2>Contention&nbsp;veineuse</h2>
        <img class="col-xs-12 illustration" src="./images/services_competences/contention.jpg">
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h2>Matériel&nbsp;médical</h2>
        <img class="col-xs-12 illustration" src="./images/services_competences/materielmed.jpg">
    </div>
    <div class="col-xs-12 col-sm-6">
        <h2>Espace&nbsp;bébé</h2>
        <img class="col-xs-12 illustration" src="./images/services_competences/espacebebe.jpg">
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h2>Produits&nbsp;vétérinaires</h2>
        <img class="col-xs-12 illustration" src="./images/services_competences/prdtveto.jpg">
    </div>
    <div class="col-xs-12 col-sm-6">
        <h2>Incontinence</h2>
        <img class="col-xs-12 illustration" src="./images/services_competences/confiance.jpg">
    </div>
</div>